
  <div class="container-fluid">
        <div class="row">
          <div class="sale col-4 mw-100  rounded px-1">
            <a routerLink="/page1" routerLinkActive="active">
              <img  class="myheight img-fluid" src="../../assets/Page1_main_New/background-image-main.png" alt="lorem"/>
            </a>
          </div>
        <div class="col-8" >
          <div class="sale  col-3 rounded px-1"><a routerLink="/page2" routerLinkActive="active"> <img class="myheight1 img-fluid" src="../../assets/Page2_main_New/background-image-main.png" alt="lorem"/></a></div>
          <div class="sale  col-3 rounded px-1"><a routerLink="/page3" routerLinkActive="active"> <img class="myheight1 img-fluid" src="../../assets/Page3_main_New/background-image-main.png" alt="lorem"/></a></div>
          <div class="sale  col-3 rounded px-1"><a routerLink="/page4" routerLinkActive="active"> <img class="myheight1 img-fluid" src="../../assets/Page4_main_New/background-image-main.png" alt="lorem"/></a></div>
          <div class="sale  col-3 rounded px-1"><a routerLink="/page5" routerLinkActive="active"> <img class="myheight1 img-fluid" src="../../assets/Page5_main_New/background-image-main.png" alt="lorem"/></a></div>
          <div class="sale  col-3 rounded px-1"><a routerLink="/page6" routerLinkActive="active"> <img class="myheight1 img-fluid" src="../../assets/Page6_main_New/background-image-main.png" alt="lorem"/></a></div>
          <div class="sale  col-3 rounded px-1"><a routerLink="/page7" routerLinkActive="active"> <img class="myheight1 img-fluid" src="../../assets/Page7_main_New/background-image-main.png" alt="lorem"/></a></div>
          <div class="sale  col-3 rounded px-1"><a routerLink="/page8" routerLinkActive="active"> <img class="myheight1 img-fluid" src="../../assets/Page8_main_New/background-image-main.png" alt="lorem"/></a></div>
          <div class="sale  col-3 rounded px-1"><a routerLink="/page9" routerLinkActive="active"> <img class="myheight1 img-fluid" src="../../assets/Page9_main_New/background-image-main.png" alt="lorem"/></a></div>
        </div>

      </div>
  </div>

